
.comment_page_267_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1300px;
	height:700px;
	position:absolute;
}
.rectangle_30_267_5 { 
	transform: rotate(141.52522974464154deg);
	background-color:rgba(192.1424961090088, 255, 162.56249696016312, 1);
	width:674.3329467773438px;
	height:546.509765625px;
	position:absolute;
	left:473.9453125px;
	top:28.852783203125px;
}
.rectangle_28_267_6 { 
	transform: rotate(-42.84489507559145deg);
	background-color:rgba(162.56249696016312, 193.9912337064743, 255, 1);
	width:674.3329467773438px;
	height:614.4677734375px;
	position:absolute;
	left:762.6728515625px;
	top:773.55712890625px;
}
.provider_name_281_4 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:29px;
	position:absolute;
	left:40px;
	top:152px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.group_23_281_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:851px;
	height:41px;
	position:absolute;
	left:319px;
	top:587px;
}
.rectangle_72_281_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:41px;
	position:absolute;
	left:751px;
	top:0px;
}
.comment_281_25 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24.4698543548584px;
	position:absolute;
	left:764px;
	top:9px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.rectangle_31_281_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:697px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:157px;
}
.rectangle_71_281_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:697px;
	height:129px;
	position:absolute;
	left:319px;
	top:118px;
}
.username_281_29 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:22px;
	position:absolute;
	left:339px;
	top:138px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.comment_281_28 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:22px;
	position:absolute;
	left:339px;
	top:183px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
