.177_53 {
}

.heading_177_53 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.group_15_177_54 {
  width: 1282px;
  height: 108px;
  position: relative;
}

.group_5_177_55 {
  width: 1282px;
  height: 69px;
  position: relative;
}

.rectangle_4_177_56 {
  background-color: rgba(130, 130, 130, 1);
  width: 295%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.account_name_177_57 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 19px;
  position: absolute;
  top: 24px;
  right: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.bicol_car_service_providers_177_58 {
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: 18px;
  position: absolute;
  top: 26px;
  left: 140px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.home_177_59 {
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: 27.84375px;
  position: absolute;
  top: 24px;
  left: 777px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.messages_177_60 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: 22px;
  position: absolute;
  top: 24px;
  left: 952px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.notification_177_61 {
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: 27.84375px;
  position: absolute;
  top: 24px;
  left: 845px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.frame_5_177_62 {
  width: 133px;
  height: 108px;
  position: absolute;
  top: 0;
  right: 0;
}

.image_1_177_64 {
  width: 72px;
  height: 77px;
  position: absolute;
  top: 7px;
  right: 30px;
  border-radius: 50%;
  background-image: url(images/image_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_bspw_177_63 {
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  width: 88px;
  height: 88px;
  position: absolute;
  top: 8px;
  left: 31px;
}
.177_53 {
}

.heading_177_53 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.group_15_177_54 {
  width: 1282px;
  height: 108px;
  position: relative;
}

.group_5_177_55 {
  width: 1282px;
  height: 69px;
  position: relative;
}

.rectangle_4_177_56 {
  background-color: rgba(130, 130, 130, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.account_name_177_57 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 19px;
  position: absolute;
  top: 24px;
  right: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.bicol_car_service_providers_177_58 {
  color: rgba(255, 255, 255, 1);
  width: 213px;
  height: 18px;
  position: absolute;
  top: 26px;
  left: 140px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.home_177_59 {
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: 27.84375px;
  position: absolute;
  top: 24px;
  left: 777px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.messages_177_60 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: 22px;
  position: absolute;
  top: 24px;
  left: 952px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.notification_177_61 {
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: 27.84375px;
  position: absolute;
  top: 24px;
  left: 845px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.frame_5_177_62 {
  width: 133px;
  height: 108px;
  position: absolute;
  top: 0;
  right: 0;
}

.image_1_177_64 {
  width: 72px;
  height: 77px;
  position: absolute;
  top: 7px;
  right: 30px;
  border-radius: 50%;
  background-image: url(images/image_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_bspw_177_63 {
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  width: 88px;
  height: 88px;
  position: absolute;
  top: 8px;
  left: 31px;
}
