
.login_page_101_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1284px;
	height:700px;
	position:absolute;
}
.ellipse_7_101_7 { 
	border-radius:500px;
	width:371px;
	height:363px;
	position:absolute;
	left:258px;
	top:497px;
}
.rectangle_50_101_8 { 
	background-color:rgba(232.68750607967377, 232.68750607967377, 232.68750607967377, 1);
	width:20000px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
}
.bicol_car_service_providers_101_9 { 
	color:rgba(0, 0, 0, 1);
	width:464px;
	height:49px;
	position:absolute;
	left:684px;
	top:112px;
	font-family:Noto Serif;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.login_101_10 { 
	width:557px;
	height:411.9999694824219px;
	position:absolute;
	left:687px;
	top:172px;
}
.rectangle_8_101_11 { 
	background-color:rgba(101.00000157952309, 101.00000157952309, 104.00000140070915, 1);
	width:557px;
	height:346.1858825683594px;
	position:absolute;
	left:0px;
	top:65.8140869140625px;
}
.101_11 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.rectangle_1_101_12 { 
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width:534px;
	height:47px;
	position:absolute;
	left:11px;
	top:114px;
}
.rectangle_1_101_13 { 
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width:534px;
	height:47px;
	position:absolute;
	left:11px;
	top:203px;
}
.don_t_have_any_account_yet__101_14 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:25px;
	position:absolute;
	left:11px;
	top:332px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.forgot_password__101_15 { 
	color:rgba(255, 255, 255, 1);
	width:284px;
	height:16px;
	position:absolute;
	left:11px;
	top:300px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.password_101_16 { 
	color:rgba(255, 255, 255, 1);
	width:168.1136016845703px;
	height:46.5320930480957px;
	position:absolute;
	left:14px;
	top:167px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.email_adress_101_17 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:17px;
	position:absolute;
	left:14px;
	top:81px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.rectangle_11_101_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:557px;
	height:64.83979797363281px;
	position:absolute;
	left:0px;
	top:0px;
}
.login_101_19 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:36px;
	position:absolute;
	left:20px;
	top:3px;
	font-family:Outfit;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.mui_button_101_20 { 
	width:138px;
	height:54px;
	position:absolute;
	left:374px;
	top:303px;
}
.rectangle_i101_20_2_65 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.90625, 117.53714740276337, 208.18199783563614, 1);
	width:145px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.login_i101_20_2_66 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:24px;
	position:absolute;
	left:42px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.rectangle_49_101_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:634px;
	height:326px;
	position:absolute;
	left:17px;
	top:187px;
}
.101_21 { 
	border:0px solid rgba(0, 0, 0, 1);
}
.providing_you_with_nearest_car_services_auto_shop_near_you___101_22 { 
	color:rgba(0, 0, 0, 1);
	width:575px;
	height:28px;
	position:absolute;
	left:43px;
	top:451px;
	font-family:Oleo Script;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.image_4_101_233 { 
	width:632px;
	height:237px;
	position:absolute;
	left:17px;
	top:188px;
	background-image:url(/images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
