.177_73 { 
	overflow:hidden;
}
.user_page_overviw_177_73 { 
	background-color:rgba(255, 255, 255, 1);
	width:1284px;
	height:700px;
	position:absolute;
}
.rectangle_30_254_37 { 
	transform: rotate(141.52522974464154deg);
	background-color:rgba(192.1424961090088, 255, 162.56249696016312, 1);
	width:674.3329467773438px;
	height:546.509765625px;
	position:absolute;
	left:623.9453125px;
	top:-14.147216796875px;
}
.rectangle_28_254_38 { 
	transform: rotate(-42.84489507559145deg);
	background-color:rgba(162.56249696016312, 193.9912337064743, 255, 1);
	width:674.3329467773438px;
	height:614.4677734375px;
	position:absolute;
	left:912.6728515625px;
	top:730.55712890625px;
}
.group_21_177_74 { 
	width:1011px;
	height:560px;
	position:absolute;
	left:145px;
	top:94px;
}
.rectangle_38_177_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1011px;
	height:532.9252319335938px;
	position:absolute;
	left:0px;
	top:27.074729919433594px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
}
.rectangle_39_177_76 { 
	background-color:rgba(140.25000303983688, 140.25000303983688, 140.25000303983688, 1);
	width:961.9223022460938px;
	height:495.5270080566406px;
	position:absolute;
	left:24.91650390625px;
	top:45.77392578125px;
}
.email_address__177_77 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:14.933333396911621px;
	position:absolute;
	left:211px;
	top:302.4000244140625px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.contact_number__177_79 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:9.333333969116211px;
	position:absolute;
	left:211px;
	top:270.6666259765625px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ellipse_4_177_81 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:122.8556900024414px;
	height:117.12602233886719px;
	position:absolute;
	left:436px;
	top:0px;
}
.177_81 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.account_177_82 { 
	width:63.987342834472656px;
	height:62.3548583984375px;
	position:absolute;
	left:465.3896484375px;
	top:28.000022888183594px;
}
.177_83 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_177_83 { 
	width:30.553951263427734px;
	height:29.774442672729492px;
	position:absolute;
	left:16.716693878173828px;
	top:3.949140787124634px;
}
.177_84 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_177_84 { 
	width:55.98892593383789px;
	height:27.280250549316406px;
	position:absolute;
	left:3.999208927154541px;
	top:33.77554702758789px;
}
.group_14_177_92 { 
	width:108.72591400146484px;
	height:42.295654296875px;
	position:absolute;
	left:443px;
	top:387.3332824707031px;
}
.rectangle_42_177_93 { 
	background-color:rgba(163.62499594688416, 163.62499594688416, 255, 1);
	width:108.72591400146484px;
	height:42.295654296875px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:6px;
}
.chat_177_94 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:37.5986328125px;
	top:13.690743446350098px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.username_182_8 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:17.733333587646484px;
	position:absolute;
	left:458px;
	top:127.8666763305664px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.bio_182_14 { 
	color:rgba(255, 255, 255, 1);
	width:24px;
	height:19px;
	position:absolute;
	left:630px;
	top:265px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
