.101_175 { 
	overflow:hidden;
}
.provider_page_overview_101_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:1284px;
	height:700px;
	position:absolute;
}
.rectangle_28_261_11 { 
	transform: rotate(-42.84489507559145deg);
	background-color:rgba(162.56249696016312, 193.9912337064743, 255, 1);
	width:674.3329467773438px;
	height:614.4677734375px;
	position:absolute;
	left:912.6728515625px;
	top:730.55712890625px;
}
.rectangle_30_261_10 { 
	transform: rotate(141.52522974464154deg);
	background-color:rgba(192.1424961090088, 255, 162.56249696016312, 1);
	width:674.3329467773438px;
	height:546.509765625px;
	position:absolute;
	left:623.9453125px;
	top:-14.147216796875px;
}
.group_21_148_43 { 
	width:1011px;
	height:520.9999389648438px;
	position:absolute;
	left:137px;
	top:117px;
}
.rectangle_38_101_188 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1011px;
	height:515.4782104492188px;
	position:absolute;
	left:0px;
	top:5.5217132568359375px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
}
.rectangle_39_101_189 { 
	background-color:rgba(140.25000303983688, 140.25000303983688, 140.25000303983688, 1);
	width:961.9223022460938px;
	height:479.3043518066406px;
	position:absolute;
	left:24.91650390625px;
	top:23.60867691040039px;
}
.companyname_261_9 { 
	color: rgba(255, 255, 255, 1);
	width: 119px;
	height: 19px;
	position: absolute;
	left: 86px;
	top: 122px;
	font-family: Inter;
	font-size: 16px;
	letter-spacing: 0;
	text-align: center;
}

.contacctnum_261_7 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:15px;
	position:absolute;
	left:144px;
	top:169px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.emailadd_261_8 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:15px;
	position:absolute;
	left:144px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.email_address__101_190 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:14.44444465637207px;
	position:absolute;
	left:43px;
	top:204.125px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.description_101_191 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:17px;
	position:absolute;
	left:328px;
	top:179px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.contact_number__101_192 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:18px;
	position:absolute;
	left:43px;
	top:168px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.owner_name_101_193 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:21px;
	position:absolute;
	left:99px;
	top:141px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ellipse_4_101_194 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:122px;
	height:122px;
	position:absolute;
	left:84px;
	top:0px;
}
.101_194 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.account_101_195 { 
	width:63.987342834472656px;
	height:60.313480377197266px;
	position:absolute;
	left:113px;
	top:28.083335876464844px;
}
.101_196 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_101_196 { 
	width:30.553951263427734px;
	height:28.799686431884766px;
	position:absolute;
	left:16.716693878173828px;
	top:3.8198533058166504px;
}
.101_197 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_101_197 { 
	width:55.98892593383789px;
	height:26.387147903442383px;
	position:absolute;
	left:3.999208927154541px;
	top:32.669803619384766px;
}
.services_101_198 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:328px;
	top:316px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.rectangle_40_101_199 { 
	background-color:rgba(255, 255, 255, 1);
	width:653.1105346679688px;
	height:135.6521759033203px;
	position:absolute;
	left:302.771484375px;
	top:33.944114685058594px;
	border-top-left-radius:27px;
	border-top-right-radius:27px;
	border-bottom-left-radius:27px;
	border-bottom-right-radius:27px;
}
.ratings___comments_101_200 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:13.541666984558105px;
	position:absolute;
	left:76px;
	top:308.84722900390625px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.insert_google_map_location_101_201 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:12.63888931274414px;
	position:absolute;
	left:516px;
	top:92.18055725097656px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.rectangle_43_101_202 { 
	background-color:rgba(255, 255, 255, 1);
	width:648px;
	height:134px;
	position:absolute;
	left:305px;
	top:343px;
}
.rectangle_47_261_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:648px;
	height:134px;
	position:absolute;
	left:305px;
	top:343px;
}
.rectangle_45_101_203 { 
	background-color:rgba(255, 255, 255, 1);
	width:648px;
	height:94.79166412353516px;
	position:absolute;
	left:303px;
	top:202.31944274902344px;
}
.rectangle_46_101_204 { 
	background-color:rgba(255, 255, 255, 1);
	width:234.062744140625px;
	height:133.71429443359375px;
	position:absolute;
	left:43.037109375px;
	top:343.36016845703125px;
}
.group_14_101_205 { 
	width:108.72591400146484px;
	height:40.91097640991211px;
	position:absolute;
	left:97.4013671875px;
	top:247.75762939453125px;
}
.rectangle_42_101_206 { 
	background-color:rgba(163.62499594688416, 163.62499594688416, 255, 1);
	width:108.72591400146484px;
	height:40.91097640991211px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:6px;
}
.chat_101_207 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:13.541666984558105px;
	position:absolute;
	left:37.5986328125px;
	top:13.242431640625px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.text_169_4 { 
	color:rgba(0, 0, 0, 1);
	width:617px;
	height:119px;
	position:absolute;
	left:317px;
	top:346px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.text_261_4 { 
	color:rgba(0, 0, 0, 1);
	width:617px;
	height:86px;
	position:absolute;
	left:317px;
	top:211px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
