.146_29 { 
	overflow:hidden;
}
.sign_up_edit_for_provider_page_146_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:1284px;
	height:700px;
	position:absolute;
}
.rectangle_50_150_165 { 
	background-color:rgba(232.68750607967377, 232.68750607967377, 232.68750607967377, 1);
	width:1284px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
}
.upload_image_177_68 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:27px;
	position:absolute;
	left:76px;
	top:541px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.rectangle_67_177_67 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:139px;
	position:absolute;
	left:18px;
	top:389px;
}
.rectangle_30_150_152 { 
	transform: rotate(141.52522974464154deg);
	background-color:rgba(192.1424961090088, 255, 162.56249696016312, 1);
	width:674.3329467773438px;
	height:546.509765625px;
	position:absolute;
	left:473.9453125px;
	top:28.852767944335938px;
}
.rectangle_61_150_162 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.1424961090088, 255, 162.56249696016312, 1);
	width:104px;
	height:441px;
	position:absolute;
	left:1064px;
	top:132px;
	border-top-left-radius:33px;
	border-top-right-radius:33px;
	border-bottom-left-radius:33px;
	border-bottom-right-radius:33px;
}
.150_162 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.rectangle_54_150_142 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(101.00000157952309, 101.00000157952309, 104.00000140070915, 1);
	width:837px;
	height:441px;
	position:absolute;
	left:303px;
	top:132px;
}
.group_25_165_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:148px;
	height:60px;
	position:absolute;
	left:902px;
	top:489px;
}
.rectangle_67_151_16 { 
	background-color:rgba(24.000000469386578, 118.00000056624413, 208.0000028014183, 1);
	width:148px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.all_set__151_17 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:27px;
	position:absolute;
	left:43px;
	top:16px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.rectangle_62_151_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:30px;
	position:absolute;
	left:319px;
	top:212px;
	border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.rectangle_63_151_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:30px;
	position:absolute;
	left:319px;
	top:271px;
	border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.rectangle_64_151_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:109px;
	position:absolute;
	left:319px;
	top:334px;
	border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.rectangle_65_151_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:30px;
	position:absolute;
	left:319px;
	top:472px;
	border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.upload_logo_profile_picture_150_145 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:27px;
	position:absolute;
	left:24px;
	top:290px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.upload_phoyo_265_4 {
  color: rgba(0, 0, 0, 1);
  width: 188px;
  height: 33px;
  position: absolute;
  left: 60px;
  top: 321px;
  font-family: Open Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.company_name__148_93 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:21px;
	position:absolute;
	left:319px;
	top:185px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.contact_number__149_94 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:43px;
	position:absolute;
	left:319px;
	top:446px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.rectangle_66_151_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:30px;
	position:absolute;
	left:723px;
	top:212px;
	border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.google_map_address__151_14 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:19px;
	position:absolute;
	left:723px;
	top:185px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.services__149_98 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:16px;
	position:absolute;
	left:319px;
	top:304px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.group_24_150_155 { 
	width:325px;
	height:51px;
	position:absolute;
	left:40px;
	top:29px;
}
.rectangle_55_150_148 { 
	background-color:rgba(0, 0, 0, 1);
	width:251px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.rectangle_56_150_149 { 
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:17px;
	position:absolute;
	left:263px;
	top:34px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.150_149 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.rectangle_57_150_150 { 
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:17px;
	position:absolute;
	left:309px;
	top:34px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.150_150 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.rectangle_58_150_151 { 
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:17px;
	position:absolute;
	left:286px;
	top:34px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.150_151 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.edit_your_profile_150_144 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:33px;
	position:absolute;
	left:36px;
	top:8px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.rectangle_28_150_154 { 
	transform: rotate(-42.84489507559145deg);
	background-color:rgba(162.56249696016312, 193.9912337064743, 255, 1);
	width:674.3329467773438px;
	height:614.4677734375px;
	position:absolute;
	left:762.6726684570312px;
	top:773.5572509765625px;
}
.rectangle_59_150_158 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:145px;
	height:139px;
	position:absolute;
	left:80px;
	top:132px;
}
.rectangle_60_150_159 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:119px;
	height:122px;
	position:absolute;
	left:93px;
	top:141px;
	border-top-left-radius:97px;
	border-top-right-radius:97px;
	border-bottom-left-radius:97px;
	border-bottom-right-radius:97px;
}
.150_159 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.almost_there__150_160 { 
	color:rgba(0, 0, 0, 1);
	width:302px;
	height:65px;
	position:absolute;
	left:837px;
	top:51px;
	font-family:Open Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.owner_name__151_8 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:19px;
	position:absolute;
	left:319px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.rectangle_68_182_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:359px;
	height:172px;
	position:absolute;
	left:721px;
	top:271px;
	border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);	
}
.company_description__182_13 { 
	color:rgba(255, 255, 255, 1);
	width:167px;
	height:19px;
	position:absolute;
	left:721px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}




