
.onhover_profile_188_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:478px;
	height:506px;
	position:absolute;
}
.group_5_188_48 { 
	width:478px;
	height:506px;
	position:absolute;
	left:0px;
	top:0px;
}
.rectangle_17_188_49 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:477.99981689453125px;
	height:506px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.frame_6_188_50 { 
	width:124.41090393066406px;
	height:90.5846176147461px;
	position:absolute;
	left:13.096169471740723px;
	top:14.15386962890625px;
}
.rectangle_19_188_51 { 
	background-color:rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1);
	width:432.16424560546875px;
	height:368px;
	position:absolute;
	left:22.450855255126953px;
	top:125.96923828125px;
	border-radius:5px;
}
.address__188_52 { 
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:16px;
	position:absolute;
	left:34px;
	top:331px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.email_address__188_53 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:21px;
	position:absolute;
	left:33px;
	top:382px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.rectangle_23_188_54 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:310.5595703125px;
	height:65.81538391113281px;
	position:absolute;
	left:144.05459594726562px;
	top:21.938446044921875px;
}
.service_provider_name_188_55 { 
	color:rgba(0, 0, 0, 1);
	width:294.822509765625px;
	height:20.842105865478516px;
	position:absolute;
	left:150.5919189453125px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.account_188_56 { 
	width:92px;
	height:83px;
	position:absolute;
	left:32px;
	top:22px;
}
.188_57 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_188_57 { 
	width:43.93000030517578px;
	height:39.63249969482422px;
	position:absolute;
	left:24.03499984741211px;
	top:5.256666660308838px;
}
.188_58 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_188_58 { 
	width:80.50000762939453px;
	height:36.3125px;
	position:absolute;
	left:5.75px;
	top:44.958335876464844px;
}
.contact_number__188_59 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:20px;
	position:absolute;
	left:31px;
	top:355px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.sampleaddress_269_5 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:16px;
	position:absolute;
	left:148px;
	top:331px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.samplecontact_269_6 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:16px;
	position:absolute;
	left:148px;
	top:352px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.sampleemail_269_7 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:16px;
	position:absolute;
	left:148px;
	top:382px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
