.188_60 { 
	overflow:hidden;
}
.profiless_188_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:652px;
	height:126px;
	position:absolute;
	top:200px;
left:50px;;
}
.group_6_188_71 { 
	width:652px;
	height:126px;
	position:absolute;
	left:0px;
	top:0px;
}
.rectangle_22_188_72 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:652px;
	height:126px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.service_provider_name_188_73 { 
	color:rgba(255, 255, 255, 1);
	width:295.9736633300781px;
	height:17.213115692138672px;
	position:absolute;
	left:8.57861328125px;
	top:97.77049255371094px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.rectangle_15_188_74 { 
	background-color:rgba(255, 255, 255, 1);
	width:471px;
	height:67px;
	position:absolute;
	left:177px;
	top:4px;
}
.ellipse_1_188_75 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:88px;
	height:88px;
	position:absolute;
	left:21px;
	top:2px;
}
.account_188_76 { 
	width:56px;
	height:56px;
	position:absolute;
	left:37px;
	top:18px;
}
.188_77 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_188_77 { 
	width:26.739994049072266px;
	height:26.73999786376953px;
	position:absolute;
	left:14.629999160766602px;
	top:3.546666383743286px;
}
.188_78 { 
	border:1.909999966621399px solid rgba(0, 0, 0, 1);
}
.vector_188_78 { 
	width:49px;
	height:24.5px;
	position:absolute;
	left:3.5px;
	top:30.33333396911621px;
}
.sample_photo_188_79 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:17px;
	position:absolute;
	left:347px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.ratings_188_80 { 
	color:rgba(255, 255, 255, 1);
	width:91.15132141113281px;
	height:19.967214584350586px;
	position:absolute;
	left:326px;
	top:93.63935089111328px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
