.195_4 { 
	overflow:hidden;
}
.pick_now__195_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1300px;
	height:700px;
	position:absolute;
}
.mask_group_195_5 { 
	width:1300px;
	height:700.0000610351562px;
	position:absolute;
	left:0px;
	top:0px;
}
.user__195_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:1300px;
	height:700.0000610351562px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.rectangle_28_195_8 { 
	transform: rotate(-42.84489507559145deg);
	background-color:rgba(162.56249696016312, 193.9912337064743, 255, 1);
	width:674.3329467773438px;
	height:614.4677734375px;
	position:absolute;
	left:764px;
	top:765.5572509765625px;
}
.rectangle_29_195_9 {
  transform: rotate(141.52522974464154deg);
  background-color:rgba(192.1424961090088, 255, 162.56249696016312, 1);
    width: 500px;
    height: 200px;
    position: absolute;
left: 702px;
    top: 50px;
       transform: skew(-20deg);
  animation-name: glide;
  animation-duration: 8s;
  animation-iteration-count: 1;
}

@keyframes glide {
  from { left: 0; }
  to { left: 702px; }
}
.bicol_car_service_providers_195_10 { 
	color:rgba(0, 0, 0, 1);
	width:325px;
	height:46px;
	position:absolute;
	left:48px;
	top:26px;
	font-family:Noto Serif;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.group_18_195_11 { 
	width:281px;
	height:358px;
	position:absolute;
	left:908px;
	top:167px;
}
.group_26_195_12 { 
	width:277px;
	height:116px;
	position:absolute;
	left:0px;
	top:242px;
}
.rectangle_25_195_13 { 
	box-shadow:10px 13px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:277px;
	height:116px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.group_29_195_14 { 
	width:206px;
	height:73px;
	position:absolute;
	left:35px;
	top:22px;
}
.rectangle_26_195_15 { 
	background-color:rgba(0, 0, 0, 1);
	width:206px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;

	border-bottom-right-radius:29px;
}
.normal_user_195_16 {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 70px;
  position: absolute;
left: 31px;
top: 3px;
  font-family: Inter;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
}
.are_you_a__195_17 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:44px;
	position:absolute;
	left:57px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.group_19_195_18 { 
	width:277px;
	height:116px;
	position:absolute;
	left:4px;
	top:85px;
}
.rectangle_24_195_19 { 
	box-shadow:10px 13px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:277px;
	height:116px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.group_29_195_20 { 
	width:206px;
	height:73px;
	position:absolute;
	left:31px;
	top:21px;
}
.rectangle_26_195_21 { 
	background-color:rgba(0, 0, 0, 1);
	width:206px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.service_provider_195_22 {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 70px;
  position: absolute;
  left: 31px;
  top: 3px;
  font-family: Inter;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0;
}
.offers_you__195_23 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:81px;
	position:absolute;
	left:52px;
	top:132px;
	font-family:Outfit;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.group_31_196_51 { 
	width:786px;
	height:265px;
	position:absolute;
	left:52px;
	top:260px;
}
.rectangle_69_195_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:786px;
	height:265px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.group_30_196_33 { 
	width:728px;
	height:176px;
	position:absolute;
	left:34px;
	top:42px;
}
.book_appointments_with_car_service_repair_providers_at_your_convenience__196_32 { 
	color:rgba(0, 0, 0, 1);
	width:687px;
	height:27px;
	position:absolute;
	left:2px;
	top:149px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.communicate_with_car_service_repair_providers__ask_questions__and_get_quotes__196_31 { 
	color:rgba(0, 0, 0, 1);
	width:728px;
	height:27px;
	position:absolute;
	left:0px;
	top:98px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.search_special_car_services_providers_easily__196_30 { 
	color:rgba(0, 0, 0, 1);
	width:419px;
	height:27px;
	position:absolute;
	left:0px;
	top:49px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.find_all_car_service_providers_near_you__195_29 { 
	color:rgba(0, 0, 0, 1);
	width:384px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
